<app-categories></app-categories>

<div class="container products font-Ubuntu">
    <p-toast></p-toast>

    <!-- <img 
      src="https://res.cloudinary.com/dcuexe6p4/image/upload/v1700250021/kpinsegwfofnzmv1sok6.jpg" 
      alt="banner"
      class="w-full border-round-lg"
    /> -->
   
    <div class="grid gap-3 mt-5">
        <div class="col flex justify-content-center" *ngFor="let product of products; let i = index">
            <div [routerLink]="['/product-detail', product._id]" class="product-image relative my-2 flex flex-column justify-content-centers align-items-center bg-white border-round-lg border-1 border-400 cursor-pointer hover:shadow-3 transition-all transition-duration-150 transition-linear" >
                <p-button 
                   *ngIf="product.is_marked"
                   (click)="addToFavorites(product, $event); product.is_marked = !product.is_marked"
                   icon="pi pi-bookmark"
                   styleClass="p-button-secondary absolute right-0 bg-white text-900 border-gray-500 outline-none"
                ></p-button>
                <p-button 
                   *ngIf="!product.is_marked"
                   (click)="removeFromFavorites(product, $event); product.is_marked = !product.is_marked"
                   icon="pi pi-bookmark-fill"
                   styleClass="p-button-secondary absolute right-0 bg-white text-900 border-gray-500 outline-none"
                ></p-button>
                
                <img 
                   src={{product.image_urls[0]}}
                   class="card-image border-round-lg border-noround-bottom"
                   alt={{product.name}}
                />
    
                <p class="card-content text-sm mb-0 md:text-base text-justify max-w-13rem">{{product.name}}</p>
                <p class="text-xs opacity-60 mt-1" style="margin-left: -60px;">lorem ipsum hakka yapsed.</p>
                <p class="card-content text-sm md:text-base text-justify">${{product.price}}</p>
            </div>
        </div>
    </div>
</div>