<app-categories></app-categories>

<div class="container products font-Ubuntu">
    <p-toast></p-toast>

    <!-- <img 
      src="https://res.cloudinary.com/dcuexe6p4/image/upload/v1700250021/kpinsegwfofnzmv1sok6.jpg" 
      alt="banner"
      class="w-full border-round-lg"
    /> -->
   
    <div class="grid gap-3 mt-5">
        <div class="col flex justify-content-center" *ngFor="let product of products; let i = index">
            <div 
                [routerLink]="['/product-detail', product._id]" 
                class="product-image overflow-x-hidden relative my-2 flex flex-column justify-content-centers align-items-center bg-white border-round-lg border-1 border-400 cursor-pointer hover:shadow-3 transition-all transition-duration-150 transition-linear" 
            >
                
                <img 
                   src={{product.image_urls[0]}}
                   class="card-image border-round-lg border-noround-bottom"
                   alt={{product.name}}
                />
    
                <p class="card-content text-sm mb-0 md:text-base text-justify overflow-y-hidden max-w-13rem max-h-1rem text-overflow-ellipsis">{{product.name}}</p>
                <p class="card-content text-sm md:text-base text-justify">${{product.price}}</p>

                <hr class="w-full">
                
                <div class="mb-2">
                    <p-button 
                        (click)="addToCart(product, $event)" 
                        label="Add To Cart" 
                        styleClass="p-button-success mr-4 sm"
                        icon="pi pi-shopping-cart" 
                        iconPos="right"
                    ></p-button>

                    <p-button 
                        (click)="addToFavorites(product, $event)" 
                        icon="pi pi-bookmark" 
                        styleClass="p-button-secondary pr-1"
                    >+</p-button>
                </div>
            </div>
        </div>
    </div>
</div>