<div class="container products">
    <!-- 1185px - 675px -->
    <img 
        src="https://res.cloudinary.com/dcuexe6p4/image/upload/v1700250021/kpinsegwfofnzmv1sok6.jpg" 
        alt="banner"
        class="w-full border-round-lg"
    >
    <div class="grid gap-3 mt-5">
        <div class="col flex justify-content-center" *ngFor="let _ of [].constructor(11); let i = index" [routerLink]="['/product-detail']">
            <div 
                class="bg-white border-round-lg border-1 border-400 cursor-pointer hover:shadow-3 transition-all transition-duration-150 transition-linear" 
                style="width: 230px;"
            >
                <img 
                    src="https://cdn.dsmcdn.com/ty986/product/media/images/20230815/0/403261825/480842529/2/2_org_zoom.jpg" 
                    class="card-image border-round-lg border-noround-bottom"
                    alt=""
                >
    
                <p class="">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                    numquam deserunt.
                </p>
            </div>
        </div>
    </div>
</div>