<div class="container relative font-Ubuntu">
    <p-button 
        icon="pi pi-plus"
        (click)="showModal()" 
        label="Add Product" 
        styleClass="p-button-info border-round-sm" 
        style="position: sticky; top: 70px;"
    ></p-button>

    <div *ngIf="isAddProductModalVisible" style="width: 500px; margin-left: 25%;" 
         class="fixed top-0 left-0s h-full flex justify-content-center align-items-center z-5 text-Ubuntu">
        <div class="bg-white p-2 px-4 z-5 border-round-sm">
            <p class="font-bold text-xl">Product Data</p>
            <p-divider></p-divider>
            <div class="flex flex-column gap-2">
                <label htmlFor="product_name" class="text-sm">Product Name</label>
                <input class="p-2" pInputText id="product_name" aria-describedby="product_name-help" />
            </div>
            <p-divider></p-divider>
            <div class="flex flex-column gap-2 mt-3">
                <label htmlFor="price" class="text-sm">Price</label>
                <input class="p-2"t pInputText id="price" aria-describedby="price-help" />
            </div>
            <p-divider></p-divider>
            <label htmlFor="summaries" class="text-sm">Summaries</label>
            <br>
            <span class="">
                <input class="p-2" #priceInput pInputText id="price" aria-describedby="price-help" />
                <button 
                    (click)="addContent('summaries', priceInput.value)" 
                    pButton 
                    pRipple 
                    icon="pi pi-check" 
                    class="p-button-success ml-3"
                    style="height: 35px;"
                ></button>
            </span>
            <ul>
                <li *ngFor="let summary of summaries; let summary_index = index" class="mb-2">
                    {{ summary }}
                    <button 
                        (click)="removeContent('summaries', summary_index)" 
                        pButton 
                        pRipple 
                        icon="pi pi-times" 
                        class="p-button-danger"
                        style="width: 20px;; height: 20px;"
                    ></button>
                </li>
            </ul>
            <p-divider></p-divider>
            <p-button label="+ Add" styleClass="my-3 w-full p-button-info"></p-button>
        </div>
        <div class="fixed top-0 left-0 w-full h-full z-4" style="background-color: #00000080;" (click)="closeModal()">
        </div>
    </div>

    <div class="container products font-Ubuntu">
        <div class="grid gap-3 mt-5">
            <div class="col flex justify-content-center relative" *ngFor="let _ of [].constructor(11); let i = index">
                <span class="absolute" style="top: -2px;">
                    <p-button title="Update Product" icon="pi pi-refresh" styleClass="p-button-success mr-2 border-1 border-white-alpha-90"></p-button>
                    <p-button title="Delete Product" icon="pi pi-times" styleClass="p-button-danger border-1 border-white-alpha-90"></p-button>
                </span>
                <div [routerLink]="['/product-detail']"
                    class="product-image flex flex-column justify-content-center align-items-center bg-white border-round-lg border-1 border-400 cursor-pointer hover:shadow-3 transition-all transition-duration-150 transition-linear">
                    <img src="https://cdn.dsmcdn.com/ty986/product/media/images/20230815/0/403261825/480842529/2/2_org_zoom.jpg"
                        class="card-image border-round-lg border-noround-bottom" alt="product-image" />

                    <p class="card-content text-sm md:text-base text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>