<div class="container relative font-Ubuntu">

    <app-add-product></app-add-product>
    
    <div class="container products font-Ubuntu">
        <div class="grid gap-3 mt-5">
            <div class="col flex justify-content-center relative" *ngFor="let _ of [].constructor(11); let i = index">
                <span class="absolute" style="top: -2px;">
                    <p-button title="Update Product" icon="pi pi-refresh" styleClass="p-button-success mr-2 border-1 border-white-alpha-90"></p-button>
                    <p-button title="Delete Product" icon="pi pi-times" styleClass="p-button-danger border-1 border-white-alpha-90"></p-button>
                </span>
                <div [routerLink]="['/product-detail']"
                    class="product-image flex flex-column justify-content-center align-items-center bg-white border-round-lg border-1 border-400 cursor-pointer hover:shadow-3 transition-all transition-duration-150 transition-linear">
                    <img src="https://cdn.dsmcdn.com/ty986/product/media/images/20230815/0/403261825/480842529/2/2_org_zoom.jpg"
                        class="card-image border-round-lg border-noround-bottom" alt="product-image" />

                    <p class="card-content text-sm md:text-base text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>