<div class="container products font-Ubuntu">
    <p-toast></p-toast>
   
    <div class="grid gap-3 mt-5">
        <div *ngIf="favorite_products.length === 0" class="flex justify-content-center w-full mt-4">There is no favorite product.</div>

        <div class="col flex justify-content-center" *ngFor="let product of favorite_products; let i = index">
            <div [routerLink]="['/product-detail', product?.productId]" class="product-image overflow-x-hidden relative my-2 flex flex-column justify-content-centers align-items-center bg-white border-round-lg border-1 border-400 cursor-pointer hover:shadow-3 transition-all transition-duration-150 transition-linear" >
                
                <img 
                   src={{product?.productImage}}
                   class="card-image border-round-lg border-noround-bottom"
                   alt={{product?.productName}}
                />
    
                <p class="card-content text-sm mb-0 md:text-base text-justify overflow-y-hidden max-w-13rem max-h-1rem text-overflow-ellipsis">
                    {{product?.productName}}
                </p>
                
                <p class="card-content text-sm md:text-base text-justify">${{product?.productPrice}}</p>

                <hr class="w-full">
                
                <div class="mb-2">
                    <p-button 
                        (click)="addToCart(product, $event)"
                        label="Add To Cart" 
                        styleClass="p-button-success mr-4"
                        icon="pi pi-shopping-cart" 
                        iconPos="right"
                    ></p-button>

                    <p-button 
                        (click)="removeFromFavorites(product, $event)"
                        icon="pi pi-bookmark" 
                        styleClass="p-button-secondary pr-1"
                    >-</p-button>
                </div>
            </div>
        </div>
    </div>
</div>