<nav class="">
    <div class="navbar-manuel container flex justify-content-around align-items-center">
        <p *ngIf="!isMobileScreen" [routerLink]="['/']" class="text-5xl mr-5 cursor-pointer d:text-4xls lg:text-5xls xl:text-7xls">Kozmaph</p>

        <div class="p-inputgroup my-5 mr-5 mx-0">
            <span class="p-inputgroup-addon border-2 border-right-none border-round-left-md surface-50">
                <i class="pi pi-search"></i>
            </span>
            <input 
                type="text" 
                pInputText 
                placeholder=" Type the product, category or brand you are looking for...."
                class="w-full mr-5 border-1 border-left-none outline-none border-round-right-md border-400" 
            />
        </div>

        <!-- mombile screen navbar -->
        <div *ngIf="isMobileScreen" class="flex justify-content-around align-items-center fixed bottom-0 left-0 border-top-1 border-gray-400 w-full h-3rem bg-white z-5 surface-400">
            <span>
                <a [routerLink]="['/']" class="flex flex-column align-items-center no-underline mx-3 text-xs text-blue-800">
                    <i class="pi pi-home ml-1 mb-1"></i>
                    Kozmaph
                </a>
            </span>
            <span>
                <a [routerLink]="['/']" class="flex flex-column align-items-center no-underline mr-3 text-xs text-blue-800">
                    <i class="pi pi-user ml-1s mb-1"></i>
                    Account
                </a>
            </span>
            <span>
                <a [routerLink]="['/']" class="flex flex-column align-items-center no-underline mr-3 text-xs text-blue-800">
                    <i class="pi pi-bookmark ml-1s mb-1"></i>
                    Favorites
                </a>
            </span>
            <span>
                <a [routerLink]="['/']" class="flex flex-column align-items-center no-underline mr-3 text-xs text-blue-800">
                    <i class="pi pi-money-bill ml-1s mb-1"></i>
                    Orders
                </a>
            </span>
        </div>

        <span class="flex justify-content-between align-items-center">
            <span *ngIf="!isMobileScreen">
                <a [routerLink]="['/']" class="flex flex-row no-underline mr-5 text-blue-800">
                    Home
                    <i class="pi pi-home ml-1"></i>
                </a>
            </span>
            <span *ngIf="!isMobileScreen">
                <a (click)="toggleUserOptions()" class="flex flex-row no-underline cursor-pointer relative mr-5 md:text-base xl:text-lg text-blue-800">
                    Account
                    <i class="pi pi-user ml-1"></i>
                </a>
                <div *ngIf="showUserOptions" class="absolute z-5 text-xs bg-white p-2 border-1 mt-2 border-round-md border-gray-600 w-7rem text-start" style="top: 75px;">
                    <a [routerLink]="['/auth']" class="cursor-pointer"><i class="pi pi-inbox ml-1 mr-1"></i> Orders</a>
                    <p-divider [style]="{'margin-top': '10px', 'margin-bottom': '10px'}"></p-divider>
                    <a [routerLink]="['/auth']" class="cursor-pointer"><i class="pi pi-bookmark ml-1 mr-1"></i> Favorites</a>
                    <p-divider [style]="{'margin-top': '10px', 'margin-bottom': '10px'}"></p-divider>
                    <a  class="cursor-pointer"><i class="pi pi-plus ml-1 mr-1"></i> Product</a>
                </div>
            </span>
            <span>
                <a [routerLink]="['/cart']" class="flex flex-row no-underline ml-3 text-sm text-blue-800 md:ml-0 md:text-base xl:text-lg">
                    Cart
                    <i class="pi pi-shopping-cart ml-1"></i>
                </a>
            </span>
            <p-badge value="0" severity="danger" styleClass="mb-1 ml-1"></p-badge>
        </span>
    </div>

    <!-- <app-categories></app-categories> -->

    <!-- <hr class="container"> -->
</nav>