<section class="container flex flex-column justify-content-center align-items-center mt-3 lg:flex-row">
    <!-- <p-toast></p-toast> -->
    <p-galleria 
        [value]="images" 
        [showItemNavigators]="true" 
        [showThumbnails]="false" 
        [showIndicators]="true"
        [showIndicatorsOnItem]="true" 
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '550px', 'margin-top': '0px' }"
    >
        <ng-template pTemplate="item" let-item>
            <img [src]="item.itemImageSrc" class="w-full border-1 border-bluegray-300 border-round-md"/>
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center border-round-md">
                <img [src]="item.thumbnailImageSrc" style="display: block;" />
            </div>
        </ng-template>
    </p-galleria>

    <div class="font-Ubuntu ml-0 w-full h-auto p-0 pr-0 border-bluegray-300 border-round-md text-justify lg:p-5 lg:ml-2">
        <div class="text-xl mb-4 mt-4 lg:mt-0 md:text-3xl lg:text-4xl">Kitchen Life 12-Piece Spice Rack Set with Label and Lockable Lid and Spoon - Lockable Spice Rack MCH009743</div>
        <div class="flex flex-column sm:flex-row">
            <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>
            <span class="opacity-50 text-sm ml-0 mt-2 sm:ml-3 sm:mt-0">(74)comments  (4)questions</span>
        </div>

        <p-divider></p-divider>

        <div class="flex justify-content-center align-items-center mb-4 mt-4 sm:justify-content-start">
            <i class="pi pi-calendar text-3xl mr-3"></i>
            <span class="flex flex-column">
                <p class="p-0 m-0 text-sm md:text-md"><b>Estimated Delivery Date</b>: {{ estimatedDeliveryDate }}</p>
                <p class="p-0 m-0 mt-1 text-sm md:text-md"><b>Click</b> if you want it to be delivered on the same day.</p>
            </span>
        </div>

        <p-divider></p-divider>

        <div class="relative mb-3 mt-3 flex justify-content-center align-items-center sm:justify-content-start">
            <p class="text-sm md:text-md"><b>Seller:</b> Lorem Ipsum LLC - <p-tag value="8.7" severity="success"></p-tag></p>

            <i 
                pInputText 
                pTooltip="The seller score is calculated taking into account the seller's service quality and customer statements." 
                tooltipPosition="left"
                (mouseover)="showScoreInformation()" 
                (mouseleave)="hideScoreInformation()" 
                class="pi pi-question-circle ml-3 text-500"
            ></i>
        </div>

        <p-divider></p-divider>

        <div class="flex flex-column justify-content-betweenS align-items-center mb-4 mt-4 text-sm sm:flex-row">
            <span class="flex align-items-center mr-5 text-sm sm:my-0 md:text-md">
                <i class="pi pi-wallet mr-1"></i>
                12 Installments
            </span>
            <span class="flex align-items-center mr-5 my-3 text-xs md:text-md">
                <i class="pi pi-truck mr-1"></i>
                Free Shipping
            </span>
            <span class="flex align-items-center mr-5 text-xs md:text-md">
                <i class="pi pi-lock mr-1"></i>
                Secure Payment
            </span>
        </div>

        <p-divider></p-divider>

        <div class="flex flex-column justify-content-between mt-4 lg:flex-row">
            <div class="flex flex-column lg:flex-row">
                <p-button 
                    label="Add to Cart" 
                    icon="pi pi-shopping-cart" 
                    iconPos="right" 
                    styleClass="p-button-success w-14rems h-4rem border-round-md text-lg w-full"
                    [loading]="loading" 
                    (onClick)="addToCart()"
                ></p-button>

                <p-button 
                    styleClass="p-button-secondary p-button-outlined w-full h-4rem justify-content-center border-round-md ml-0 mt-3 lg:ml-4 lg:mt-0"
                    (click)="toggleProductMarking()"                
                >
                    <i *ngIf="!isProductMarked" class="pi pi-bookmark text-3xl"></i>
                    <i *ngIf="isProductMarked" class="pi pi-bookmark-fill text-3xl"></i>
                </p-button>
            </div>
        </div>
    </div>
</section>