<div style="top: -15px; margin-left: 18%; width: 630px; z-index: 11;" class="fixed h-full flex justify-content-center align-items-center z-5 font-Ubuntu">
    <div class="bg-white p-2 px-4 z-5 border-round-sm" style="width: 55vw; height: 600px;">
        <div class="flex justify-content-between">
            <p class="font-bold text-xl">Update Product</p>
            <p-button 
                label="Update" 
                icon="pi pi-refresh"
                styleClass="my-3 w-full p-button-success"
                (click)="updateProduct(); showToast('Product is updated'); closeModal()"
            ></p-button>
        </div>

        <p-divider></p-divider>
        <p-steps styleClass="mb-6" [model]="stepItems" [readonly]="true" [activeIndex]="activeIndex"></p-steps>
        <div *ngIf="activeIndex === 0" class="flex justify-content-center">
        <div class="ml-6s mt-5s">
            <div class="flex flex-column gap-2">
                <label htmlFor="product_name" class="text-sm">Product Name</label>
                <input class="p-2" [(ngModel)]="productName" pInputText id="product_name" placeholder=".." aria-describedby="product_name-help" />
            </div>

            <p-divider class="my-4"></p-divider>

            <div class="flex flex-column gap-2 mt-3s">
                <label htmlFor="price" class="text-sm">Price</label>
                <p-inputNumber inputId="currency-us" currency="USD" locale="en-US" mode="currency" styleClass="w-full" [(ngModel)]="price"> </p-inputNumber>
            </div>

            <p-divider class="my-4"></p-divider>

            <div class="card flex justify-content-center my-3 text-sm">
                <p-checkbox name="advantages" value="Free Shipping" label="Free Shipping" [(ngModel)]="selectedAdvantages"></p-checkbox>
                <p-checkbox name="advantages" value="Installments" label="Installments" [(ngModel)]="selectedAdvantages" class="mx-4"></p-checkbox>
                <p-checkbox name="advantages" value="Secure Payment" label="Secure Payment" [(ngModel)]="selectedAdvantages"></p-checkbox>
            </div>  

            <p-divider class="my-4"></p-divider>
            
            <label for="file-upload" class="custom-file-upload p-2 w-full text-center border-round-sm">
                <i class="pi pi-upload"></i> 
                <span class="ml-3">Upload Product Images</span>
            </label>
            <input id="file-upload" (change)="onFileSelected($event)" type="file" class="p-2 border-round-md w-full" multiple/>
            <p-button (click)="nextStep()" styleClass="mt-4" label="Summaries & Descriptions" icon="pi pi-chevron-right" iconPos="right"></p-button>
        </div>
        </div>
        <div class="flex justify-content-between">
            <div *ngIf="activeIndex === 1" class="flex">
                <div class="flex flex-column mr-5 ml-1">
                <label htmlFor="summary" class="text-sm mb-2 text-left">Summaries</label>
                <span class="">
                    <input 
                        class="p-2 w-14rem" 
                        #summaryInput 
                        pInputText 
                        id="summary" 
                        placeholder="Enter a summary.."
                        aria-describedby="summary-help"
                        (keyup.enter)="addContent('summaries', summaryInput.value); summaryInput.value = ''" 
                    />
                    <button 
                        (click)="addContent('summaries', summaryInput.value); summaryInput.value = ''" 
                        pButton 
                        pRipple
                        icon="pi pi-plus" 
                        class="p-button-success ml-2" 
                        style="height: 35px;"
                    ></button>
                </span>
                <ul class="max-h-4rem overflow-x-hidden overflow-scroll" style="margin-left: -20px;">
                    <li *ngFor="let summary of summaries; let summary_index = index" class="mb-0">
                        <div class="flex justify-content-center align-items-center">
                            <p class="overflow-hidden text-overflow-ellipsis max-w-7rem mt-0">{{ summary }}</p>
                            <button 
                                (click)="removeContent('summaries', summary_index)" 
                                pButton 
                                pRipple 
                                icon="pi pi-times"
                                class="p-button-danger text-sm" 
                                style="width: 15px; height: 15px; margin-bottom: 15px;"
                            ></button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="flex flex-column">
                <label htmlFor="description" class="text-sm mb-2 text-left">Descriptions</label>
                <span class="">
                    <input 
                        class="p-2 w-14rem" 
                        #descriptionInput 
                        pInputText 
                        id="description" 
                        placeholder="Enter a description.."
                        aria-describedby="description-help"
                        (keyup.enter)="addContent('descriptions', descriptionInput.value); descriptionInput.value = ''" 
                    />
                    <button 
                        (click)="addContent('descriptions', descriptionInput.value); descriptionInput.value = ''" 
                        pButton 
                        pRipple
                        icon="pi pi-plus" 
                        class="p-button-success ml-2" 
                        style="height: 35px;"
                    ></button>
                </span>
                <ul class="max-h-4rem overflow-x-hidden overflow-scroll" style="margin-left: -20px;">
                    <li *ngFor="let description of descriptions; let description_index = index" class="">
                        <div class=" flex justify-content-center align-items-center">
                            <p class="overflow-hidden text-overflow-ellipsis max-w-7rem mt-0">{{ description }}</p>
                            <button 
                                (click)="removeContent('descriptions', description_index)" 
                                pButton 
                                pRipple 
                                icon="pi pi-times"
                                class="p-button-danger text-sm" 
                                style="width: 15px; height: 15px;  margin-bottom: 15px;"
                            ></button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="flex absolute w-full" style="bottom: 95px; left: 122px;">
                <p-button (click)="prevStep()" styleClass="mt-4 mr-5" label="General" icon="pi pi-chevron-left" iconPos="left"></p-button>
                <p-button (click)="nextStep()" styleClass="mt-4 w-15rem" label="Features & Categories" icon="pi pi-chevron-right" iconPos="right"></p-button>
            </div>
            </div>
            <div *ngIf="activeIndex === 2">
                <div class="flex flex-column">
                    <label htmlFor="feature" class="text-sm mb-2 text-left ml-2">Features</label>
                    <span class="flex">
                       <span class="flex">
                         <input 
                            class="p-2 mx-2 w-16rem" 
                            #featureNameInput 
                            pInputText 
                            id="feature-name" 
                            aria-describedby="feature-name-help"
                            placeholder="example: Color"
                            (keyup)="enterFeatureField($event, 'feature_name')"
                        />
                        <input 
                            class="p-2 w-16rem" 
                            #featureValueInput 
                            pInputText 
                            id="feature-value" 
                            aria-describedby="feature-value-help"
                            placeholder="example: Brown"
                            (keyup)="enterFeatureField($event, 'feature_value')"
                        />
                       </span>
                        <button 
                            (click)="addContent('features', feature); featureNameInput.value = ''" 
                            pButton 
                            pRipple
                            icon="pi pi-plus" 
                            class="p-button-success ml-2" 
                            style="height: 35px;"   
                        ></button>
                    </span>
                    <ul class="max-h-4rem overflow-x-hidden overflow-scroll" style="margin-left: -20px;">
                        <li *ngFor="let feature of features; let feature_index = index" class="">
                            <div class=" flex justify-content-center align-items-center">
                                <p class="overflow-hidden text-overflow-ellipsis max-w-24rem mt-0">{{ feature.feature_name }}: {{ feature.feature_value }}</p>
                                <button 
                                    (click)="removeContent('features', feature_index)" 
                                    pButton 
                                    pRipple 
                                    icon="pi pi-times"
                                    class="p-button-danger text-sm ml-2" 
                                    style="width: 15px; height: 15px;  margin-bottom: 15px;"
                                ></button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="absolute" style="bottom: 95px;">
                    <p-multiSelect 
                        styleClass="w-30rem border-2 border-gray-400" 
                        [options]="groupedCategories" 
                        [group]="true" 
                        [(ngModel)]="selectedCategories" 
                        defaultLabel="Select Categories" 
                        scrollHeight="250px" 
                        display="chip"
                    >
                        <ng-template let-group pTemplate="group">
                            <div class="flex align-items-center">
                                <span>{{ group.label }}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                    <p-button (click)="prevStep()" styleClass="mt-4 mr-5" label="Summaries & Descriptions" icon="pi pi-chevron-left" iconPos="left"></p-button>
                    </div>
            </div>
       </div>
    </div>
    <div class="fixed top-0 left-0 w-full h-full z-4" style="background-color: #00000080;" (click)="closeModal()">
    </div>
</div>