<div class="container products font-Ubuntu">
   <p class="text-3xl text-center mb-0">YOU ORDERED THESE</p>
   <p class="text-xs text-center mb-5 mt-1">from newest to oldest</p>
 
   <div *ngFor="let order of orders.reverse()" class="card flex justify-content-center w-full">
      <p-accordion [multiple]="false" class="w-full">
          <p-accordionTab header='{{order.buyer_full_name}} / {{order.total_price}}$ / {{order.date}} / {{order.buyer_email}} / {{order.buyer_address}}'>
             <div *ngIf="!isMobileScreen" class="flex justify-content-around mb-2">
                <span class="font-bold">Image</span>
                <span class="font-bold">Name</span>
                <span class="font-bold">Price</span>
                <span class="font-bold">Quantity</span>
                <span class="font-bold">Seller</span>
             </div>
            <div *ngFor="let product of order.products">
               <span *ngIf="isMobileScreen" class="max-w-10rem max-h-3rem overflow-scroll">{{product.productName}}</span>
               <div 
                  class="flex justify-content-around align-items-center mb-2 py-1 border-1 border-gray-400 border-round-md" 
                  style="padding-top: 0; padding-bottom: 0;"
               >
                  <img src={{product.productImage}} alt={{product.productName}} class="w-3rem mr-0 mt-3s border-round-sm">
                  <span *ngIf="!isMobileScreen" class="max-w-10rem max-h-3rem overflow-y-scroll">{{product.productName}}</span>
                  <span>{{product.productPrice}}$</span>
                  <span>x{{product.productQuantity}}</span>
                  <span>{{product.productSeller}}</span>
               </div>
            </div>
          </p-accordionTab>
      </p-accordion>
   </div>
</div>   